html {
    background: url("../pictures/background04.jpg");
    background-size: 100% auto;
    background-repeat: repeat;
    background-color: black;
    background-color: repeat;
}
body {
    color: green;
    }
#nav1 {
    float: left;
    padding-top: 5;
    }
#logo {
    float: left;
    padding: 2;
    }
h1 {
    padding-top:10%;
    }